<div class="jumbotron">
    <h1>2c2p Technical Test</h1>
    <p class="lead">
        Implementation of a service to provide a credit card number validation and return a result which contains validation result and card type.
    </p>
   
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Service Info</h2>
        <p>
            Service has 2 end point :  
            <ul>
                <li>Add Card : to insert new card in database</li>
                <li>
                    Validate Card : to Validate card if exist in database and return card type  (Visa, Master, Amex, JCB or Unknown)
                    and if it (Valid, Invalid or Does not exist)
                </li>

            </ul>
            You can test service from <a href="/swagger/ui/index#/Cards">here</a>
        </p>
    </div>
   
</div>


